Source: cf
Section: utils
Priority: optional
Maintainer: Adam Danischewski <adam.danischewski@protonmail.com>
Build-Depends: debhelper (>= 11), debhelper-compat (= 12)
Standards-Version: 4.4.1
Rules-Requires-Root: binary-targets
Homepage: https://github.com/AdamDanischewski/cf
#Vcs-Browser: https://salsa.debian.org/debian/cf
#Vcs-Git: https://salsa.debian.org/debian/cf.git

Package: cf
Architecture: all
Depends: ${misc:Depends}, gawk
Description: Enhanced commandline user experience - extensively colorizes piped filenames
 cf improves the commandline user experience by adding extensive filename
 coloring capabilities via pipelines.
 .
 cf colorizes mapped file extensions
 to a Truecolor sRGB triplet. cf colors piped file names by file extension
 according to their respective colormap["ext"] entry in the system-wide or
 user defined cf config file.
 .
 cf can be used in with find/ls commands in pipelines.
 .
 If you get used to using cf you will likely find it very difficult to
 imagine not using cf!!
